---
layout: layout.liquid
title: Homepage
---

<h1>Paperclips</h1>
<img class="icon" src="images/clips.png" alt="A close up of Paperclips the Cat's head">
<p> Paperclips is a 4 year old grey tabby named after office supplies. His main hobbies include sleeping and asking for food.</p>