body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: #554348;
    padding: 0 40px;
    text-align: center;
}

nav {
    margin: 40px auto 0 auto;
    width: 250px;
    border-radius: 50px;
    border: 1px solid #8C9A9E;
    background: #747578;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #D4F5F5;
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-size: 4em;
    letter-spacing: -2px;
    color: #D4F5F5;
}

img.about {
    opacity: 0.5;
}

p {
    margin: 05% 20%;
    font-size: 2em;
}