body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #EAE8FF;
    background: #470063;
    padding: 0 40px;
    text-align: center;
}

nav {
    margin: 40px auto 0 auto;
    width: 30%;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 2px solid #8C9A9E;
    border-radius: 50px;
    background: #B30089;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #D4F5F5;
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-size: 4em;
    letter-spacing: -2px;
    color: #D4F5F5;
    -webkit-text-stroke: 1px #64B6AC;
}

img.about {
    opacity: 0.5;
}

p {
    margin: 05% 20%;
    font-size: 2em;
}

img.icon {
    height: 300px;
}

